:root {
  --green: #3bb99b;
  --black: #282c34;
  --footerColor: #707793;
  --white: #ffffff;
  --whitesmoke: #f8f8f8;
  --grey: #707070;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: regular;
  background-color: var(--black);
}
nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navlinks a {
  color: var(--white);
}
.leftnav {
  display: flex;
  justify-content: space-around;
  width: 10vw;
  align-items: center;
}
.rightnav {
  display: flex;
  justify-content: space-around;
  width: 25vw;
  align-items: center;
}
.rightnav img {
  border-radius: 50%;
}
.rightnav i {
  color: var(--white);
  font-size: 1.5em;
}
main {
  width: 60%;
  margin: 100px auto;
}
.logo {
  width: 80%;
  margin: 0 auto;
  font-size: 5.5em;
  text-align: center;
  letter-spacing: 2rem;
  color: #f8f8f8;
}
.logo span {
  color: var(--green);
}
.search-bar {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  margin-top: 5rem;
  border-radius: 30px;
}
.search-bar i {
  font-size: 1.5em;
  color: var(--grey);
}
.buttons {
  width: 60%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}
.button {
  background-color: var(--whitesmoke);
  width: 50%;
  padding: 1rem 1.2rem;
  margin-left: 1rem;
  text-align: center;
  border-radius: 4px;
}
.main {
  display: flex;
  align-items: center;
}
footer {
  position: absolute;
  background-color: var(--footerColor);
  width: 100%;
  padding: 1.3rem;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
footer a {
  color: var(--white);
}
.left-footer {
  width: 14%;
  display: flex;
  justify-content: space-between;
}
.right-footer {
  width: 16%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) and (min-width: 992px) {
  body {
    font-size: 0.7em;
  }
  .logo {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 5em;
  }
}
@media (max-width: 991px) {
  main {
    width: 70%;
  }
  body {
    font-size: 0.7em;
  }
  .buttons {
    width: 80%;
  }
  .left-footer {
    width: 18%;
  }
  .right-footer {
    width: 22%;
  }
  .logo {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 4.2em;
  }
  .search-bar {
    margin-top: 3em;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 0.6em;
  }
  .buttons {
    width: 80%;
  }
  main {
    width: 90%;
  }
  .logo {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
  }
  .search-bar {
    margin-top: 2em;
  }
  .left-footer {
    width: 100%;
  }
  .right-footer {
    width: 100%;
  }
  .buttons {
    flex-wrap: column;
    flex-direction: column;
    align-items: center;
  }
  .button {
    margin-bottom: 3vh;
  }
  .leftnav {
    width: 15vw;
  }
  .rightnav {
    width: 35vw;
  }
  nav {
    margin: 0 20px;
  }
}
